@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Quicksand:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: 500;
    color: #475569;
    background-color: #e4e4e7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .signup-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 900px;
    height: 550px;
    background-color: #f8fafc;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }
  
  .background-image {
    object-fit: cover;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .content-area {
    display: flex;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  
  .left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cloud-image {
    width: 250px;
    height: auto;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  
  .signup-title {
    font-size: 38px;
    font-weight: 800;
    color: black;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .form-container {
    width: 100%;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-label {
    display: block;
    margin-bottom: 2px;
    margin-left: 25px;
    margin-bottom: 2px;
    font-weight: 500;
    color: #475569;
  }
  
  .input-field {
    margin-left: 20px;
    width: 90%;
    padding: 8px 16px; /* smaller padding */
    border-radius: 40px; /* still rounded */
    border: 1px solid rgba(71, 85, 105, 0.5);
    background-color: #e4e4e7;
    font-size: 14px;
    color: black;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

  
  .next-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
  }
  
  .next-text {
    font-size: 16px;
    color: black;
    cursor: pointer;
  }
  
  .next-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #475569;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    .signup-wrapper {
      height: auto;
    }
    
    .content-area {
      flex-direction: column;
    }
    
    .left-section {
      padding: 20px 0;
    }
    
    .cloud-image {
      width: 150px;
    }
    
    .right-section {
      padding: 20px;
    }
    
    .signup-title {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }